.DS_Store
*.espressostorage
.settings
.project
*.xml
xml/fotos/*.jpg
xml/fotos_profes/*.jpg
xml/jefe/TIC/*.txt
cache/*
/config.php
/config_datos.php
*_seg*
*.gz
*.bz2
pdf/lib/fonts/log.htm
.buildpath
prueba.php
*.sublime-project
*.sublime-workspace
xml/primaria/*.txt
*.txt
php.ini
*.old

